[submodule "mu-core"]
	path = Submodules/mu-core
	url = https://github.com/crnobog/mu-core.git
	branch = muteki
[submodule "imgui"]
	path = Submodules/imgui
	url = https://github.com/crnobog/imgui.git
[submodule "glfw"]
	path = Submodules/glfw
	url = https://github.com/crnobog/glfw.git
	branch = muteki
